body,main{
    height:100%;
    width:100%;
    background-color: #e0e0e0;
    margin:0%;
    font-family:'Ubuntu', sans-serif;
}
main{
    height:100%;
    width: 100%;
    /* font-family:'Ubuntu', sans-serif; */
}

#logo
{
    width: 60px;
    height:60px;
}
#radisson-img
{
    width:500px;
    height:350px;
}
.social-img
{
    width:22px;
    height:20px;
}
header, footer{
    background-color: rosybrown;
    
}
.content-div-img
{
    /* margin:1% 2% 0% 1%; */
    padding-right: 75px;
    border-right: 1px solid; 
}
.content-div-form
{
    margin: 0% 4% 1% 4%;
   
}
.content-div-form input{
    margin:10px;
    
}
.content-div-form label{
    margin-right:20px;
}
.content-div-details
{
    margin: 1% 4% 2% 4%;
}
footer
{
    width:100%;
    position: fixed;
    bottom: 0;
    left:0;
}
header{
    position: sticky;
    top:0;
    left:0;
}
header , footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-div-details{
    margin-bottom: 70px;
}
.hello-content-div
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid;
    box-sizing: border-box;
    /* padding:1%; */
    margin:1%;
   height: 400px;
}