*
{
    box-sizing: border-box;
}
body
{
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: #e0e0e0;
    font-family:'Ubuntu', sans-serif;
}
main{
    height:100%;
    width: 100%;
    font-family:'Ubuntu', sans-serif;
}

#logo
{
    width: 60px;
    height: 60px;
}
.city-img
{
    height: 150px;
    width: 150px;
    margin: 4% 4%;
    border-radius: 25%;
    display: block;
}
.social-img
{
    width:22px;
    height:20px;
}
header, footer{
    background-color: rosybrown;
    
}
#search-bar
{   
    background-image: url('https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg');
    height:380px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hotel-img-container
{
    position:relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
footer
{
    width:100%;
    position: fixed;
    bottom: 0;
    left:0;
    
}
header,footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    position: sticky;
    top:0;
    left:0;
    
}
#search-bar
{
 display:flex;
}
.content-div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
input{
    display:inline-block;
    margin: auto auto;
    border-radius: 12px;
    border: none;
    font-size: 16px;
    outline:none;
    padding: 10px;
    background-color: #f1f1f1;
}
.view-more
{
    margin-bottom:5%;
    text-align: center;
}

  
  .middle {
    position:absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    transition: .5s ease;
  }
  
  .hotel-img-container1:hover .city-img {
    background-color: rgba(0, 0, 0, 0.5);
    
  }
  
  .hotel-img-container1:hover .middle {
   
    opacity: 0.8;
  }
  
  .text {
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
  .city-img{
    box-shadow: 10px 10px gray;
  }
  header
  {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%
  }
  .btn
  {
    margin-right:10px;
    color:black;
    background-color: white;
  }
  .modal-header, h4, .close {
    color:rgb(0, 0, 0) !important;
    text-align: center;
    font-size: 25px;
  }
 .modal-footer
 {
    display:flex;
    justify-content: center;
    align-items: center;
 }
 .btn-primary
 {
    background-color: #4cae4c;
 }
 
  