body,main{
    height:100%;
    width:100%;
    background-color: #e0e0e0;
    margin: 0%;
}

#logo
{
    width: 60px;
    height:60px;
}
.hotel-img
{
    width:250px;
    height:200px;
    
}
.social-img
{
    width:22px;
    height:20px;
}
footer,header
{
    background-color: rosybrown;
}
.hotel{
    margin:2%;
    width:40%;
    background-color: rgb(132,136,139);
}