body{
    height:100%;
    width:100%;
}
main
{
    height:100%;
    width:100%;
}
#logo
{
    width: 60px;
    height:60px;
}
.hotel-img
{
    width:250px;
    height:200px;
}
.social-img
{
    width:22px;
    height:20px;
}