body,main{
    height:100%;
    width:100%;
    background-color: #e0e0e0;
    margin: 0%;
    font-family:'Ubuntu', sans-serif;  
}

#logo
{
    width: 60px;
    height:60px;
}
.hotel-img
{
    width:250px;
    height:200px; 
}
.social-img
{
    width:22px;
    height:20px;
}
footer,header
{
    background-color: rosybrown;
}
.hotel{
    margin:2%;
    width:40%;
    background-color: lightgray;
}
footer
{
    width:100%;
    position: fixed;
    bottom: 0;
    left:0;
    
}
header, footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    position: sticky;
    top:0;
    left:0;
}
ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
.list-map-view
{
    text-align:center;
}
.list-map-view li{
   
   display:inline-block;
}
.list-map-view ul li
{
    padding: 0px 20px; 
}
.hotel{
    display:inline-block;
}
.hotel1
{
    display:none;
}
#map-view
{
    display:none;
}
.hotel
{
    display:inline-flex;
    margin-bottom: 75px;
}
.image-details-div
{
    display: flex;
    flex-direction: column;
    margin-left:20px;
}
.modal-footer
 {
    display:flex;
    justify-content: center;
    align-items: center;
 }
 .btn-primary
 {
    background-color: #4cae4c;
 }
 .list-map-view
 {
    display: flex;
    justify-content: center;
    margin-top:10px;
 }
 /* .btn-default
 {
    height: 30px;
    text-align: center;
    padding: 20px;
 } */

 .map-view-button:active
 {
    background-color: blue;
 }
 .hotel:hover{
   background-color: rosybrown;
  
 }
.image-details-div:hover{
    text-decoration: none;
}