.social-img
{
    width:22px;
    height:20px;
}
body,main{
    height:100%;
    width:100%;
    background-color: #e0e0e0;
    margin:0%;
    font-family:'Ubuntu', sans-serif;
}

#logo
{
    width: 60px;
    height:60px;
}
#radisson-img
{
    width:500px;
    height:500px;
}
header, footer{
    background-color: rosybrown;
}
.content-div-img-and-details
{
    width:50%;
    height: 20%;
    background-color: rgb(132,136,139);
    margin:2% auto;
}
.customer-details
{
    margin:2%;
}
.customer-tarif
{
    margin:2%;
    border: 1px solid;
    border-radius: 5px;
    padding:1% 2%;
}
.pay-now
{
    margin-top:2%;
    margin-bottom: 6%;
}
.pay-now a{
    text-decoration: none;
    color: black;
}
footer
{
    width:100%;
    position: fixed;
    bottom: 0;
    left:0;
}
header{
    position: sticky;
    top:0;
    left:0;
}
header , footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}