.social-img
{
    width:22px;
    height:20px;
}
body,main{
    height:100%;
    width:100%;
    background-color: #e0e0e0;
    margin:0%;
    font-family:'Ubuntu', sans-serif;
}

#logo
{
    width: 60px;
    height:60px;
}
#radisson-img
{
    width:300px;
    height:270px;
}
header, footer{
    background-color: rosybrown;
}
.content-div-img-and-details
{
    width:50%;
    height: 20%;
    background-color: rgb(132,136,139);
    margin:2% auto;
  
}
.customer-details
{
    margin:2%;
    /* padding:20px; */
}
.customer-tarif
{
    margin:2%;
    border-radius: 5px;
    padding:1% 2%;
}
.pay-now
{
    margin-top:6%;
    margin-bottom: 6%;
}
.pay-now a{
    text-decoration: none;
    color: black;
    margin-top:20px;
    padding: 10px;
}
footer
{
    width:100%;
    position: fixed;
    bottom: 0;
    left:0;
}
header{
    position: sticky;
    top:0;
    left:0;
}
header , footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.content-div{
    display: flex;
    flex-direction: column;
}
.content-div-img-and-details
{
    display: inline-flex;
    flex-direction: row;
}

.hotel-details-address
{
    padding:37px;
}
.div-details{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:80%;
    border: 1px solid;
    margin-bottom: 70px;
    margin-left:10%;
    background-color: rosybrown;
    border-radius: 5px;
}