.social-img
{
    width:22px;
    height:20px;
}
body{
    height:100%;
    width:100%;
}
main
{
    height:100%;
    width:100%;
}
#logo
{
    width: 60px;
    height:60px;
}
#radisson-img
{
    width:500px;
    height:500px;
}